body {
    background-image: url("Images/1337139.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

* {
    text-align: center;
    font-family: "Kaushan Script";
    font-size: x-large;
}

body {
    color: aliceblue;
}

footer {
    background-color: black;
}

ul,ol,li {
    text-align: left;
    background-color: rgb(0, 0, 0);
    border-style: outset;
    border: 1;
    border-color: black;
    padding: 5px;
}

p {
    text-align: left;
    background-color: rgb(0, 50, 50);
    margin: 10px;
    border-style: outset;
    border: 1;
    border-color: black;
    padding: 5px;
}

img {
    border-style: inset;
    border-color: black;
    border-width: 10px;
}

h3,h2,h1 {
    background-color: rgb(0, 5, 5);
    text-decoration: underline;
    border-style: outset;
    border: 1;
    border-color: black;
    padding: 5px;
    font-size: xx-large;
}

a {
    border-style: outset;
    border-color: black;
    margin: 10px;
    padding: 5;
    background-color: rgb(0, 50, 50);
    font-size: large;
}

li {
    background-color: rgb(0, 28, 28);
}