body {
    background-image: url("Images/1337139.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
}

* {
    text-align: center;
    font-family: "Kaushan Script";
    font-size: x-large;
}

footer {
    background-color: black;
    border-style: outset;
    border-color: rgb(0, 50, 50) ;

}

ul,ol,li {
    text-align: left;
    background-color: black;
    border-style: outset;
    border: 5;
    border-color: rgb(0, 50, 50);
    padding: 5px;
    text-shadow: 0px 0px 10px white;
}

p {
    text-align: left;
    background-color: rgb(0, 50, 50);
    margin: 10px;
    border-style: outset;
    border: 1;
    border-color: rgb(0, 50, 50);
    padding: 5px;
    text-shadow: 0px 0px 10px white;
}

img {
    border-style: outset;
    border-color:  rgb(0, 50, 50);
    border-width: 5px;
}

h3,h2,h1 {
    text-decoration: underline;
    text-shadow: 0px 0px 10px white;
    border-style: outset;
    border: 1;
    border-color: rgb(0, 50, 50);
    padding: -2px;
    font-size: xx-large;
    background-image: url(Images/7b4a96bc-3a00-44bc-be69-af45df845154.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li {
    background-color: rgb(0, 50, 50);
}

title {
    font-size: xx-large;
}

ol,ul {
    background-image: url(Images/7b4a96bc-3a00-44bc-be69-af45df845154.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-shadow: 0px 0px 10px white;
    color: rgb(0, 162, 255);
}

.banner {
    background-image: url(Images/sea-night-ocean-dark.jpg);
    background-position: 0% 100%;
    background-position: center;
    background-position: fixed;
}