body {
    color: aliceblue;
    background-color: black;
    font-family: "Kaushan Script", cursive;
}

footer {
    background-color: rgba(0, 0, 139, 0.371);
}

h1 {
    background-color: rgba(0, 0, 139, 0.371);
}

#p1 {
    font-style: oblique;
}